node_modules
.DS_Store

/.cache
/build
/app/build
/public/build/
/public/_dev
/app/public/build
/prisma/dev.sqlite
/prisma/dev.sqlite-journal
database.sqlite

.env
.env.*





/extensions/*/dist

# Ignore shopify files created during app dev
.shopify/*
.shopify.lock

# User requested ignores
*.toml

# Logs and databases
*.log
*.sqlite
*.sqlite-journal

# OS and Editor
.idea
.vscode
*.swp
*.swo
Thumbs.db

# Build and Temp
dist/
tmp/
coverage/